// start single page styles
.singleWrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    gap: 35px;
}
// end single page styles


// start single page header styles
.singlepage{
    flex: 3;
    &__header{
        &__top{
            background: white;
            border-radius: 30px;
            text-align: right;
            direction: rtl;
            &__title{
                border-bottom: 1px solid #B5BADC;
                p{
                    font-family: "bold";
                    font-size: 32px;
                    color: #FF8429;
                }
            }
            &__desc{
                display: grid;
                grid-template-columns: repeat(4,minmax(0,1fr));
                gap: 8px;
                a{
                    width: 100%;
                    button{
                        width: 100%;
                    }
                }
            }
        }
        &__nav{
            direction: rtl;
            gap: 18px;
            border-radius: 30px 30px 0px 0px;
            border-bottom: 1px solid #B5BADC;
            .item{
                cursor: pointer;
                direction: ltr;
                text-align: right;
                gap: 8px;
                p{
                    font-family: "ye-semibold";
                    font-size: 24px;
                    color: #6D7083;
                }
            }
        }
    }
}
// end single page header styles






// start single signbar styles
.Signbar{
    flex: 1;
    background: white;
    border-radius: 30px;
    padding: 38px 34px;
    height: fit-content;
    &__price{
        .RealPrice{
            font-family: "ye-bold";
            font-size: 25px;
            color: black;
            .money{
                font-family: "ye-semibold";
                font-size: 16px;
            }
        }
        .discount{
            font-family: "ye-semibold";
            font-size: 13px;
            color: gray;
            text-decoration: line-through;
            direction: rtl;
        }
    }
    &__buttons{
        margin-top: 8px;
        padding-bottom: 25px;
        border-bottom: 1px solid #D3D8F6;
        button{
            width: 100%;
        }
    }
    &__desc{
        ul{
            padding: 32px 0px;
            direction: rtl;  
            border-bottom: 1px solid #D3D8F6;
            li{
                .item{
                    gap: 10px;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        font-family: "ye-semibold";
                        font-size: 14px;
                        color: rgb(30, 35, 54 , 90%);
                    }
                }
            }      
        }
    }
    &__teacher{
        padding: 32px 0px;
        direction: rtl;
        gap: 10px;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: black;
        }
        .item{
            gap: 14px;
            &__image{
                width: 58px;
                height: 58px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
            .title{
                font-size: 18px;
            }
            .desc{
                font-family: "ye-semibold";
                font-size: 16px;
                color: rgb(0, 0, 0, 70%);
            }
        }
    }
    &__resume{
        direction: rtl;
        .stars{
            max-width: 95px;
            overflow: hidden;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
        .button{
            button{
                font-family: "bold";
                font-size: 18px;
                text-decoration: underline;
                color: #20233B;
            }
        }
    }
}
// end single signbar styles





// start single desc styles
.SingleDesc{
    background: white;
    margin-top: -20px;
    border-radius: 0px 0px 30px 30px;
    &__image{
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            border-radius: 20px;
        }
    }
    &__desc{
        padding: 32px;
        border: 1px solid #DDDFEC;
        border-radius: 25px;
        margin-top: 30px;
        height: 550px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: #1A2133;
            text-align: right;
            direction: rtl;
        }
        .desc{
            font-family: "ye-regular";
            font-size: 20px;
            color: #333333;
            text-align: right;
            direction: rtl;
        }
    }
    &__benefit{
        padding: 32px;
        border: 1px solid #DDDFEC;
        border-radius: 25px;
        margin-top: 30px;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: #1A2133;
            text-align: right;
            direction: rtl;
        }
        ul{
            list-style-type: disc;
            margin-right: 25px;
            li{
                font-family: "ye-regular";
                font-size: 20px;
                color: #333333;
                text-align: right;
                direction: rtl;
            }
        }
    }
    &__video{
        padding: 32px;
        border: 1px solid #DDDFEC;
        border-radius: 25px;
        margin-top: 30px;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: #1A2133;
            text-align: right;
            direction: rtl;
            margin-bottom: 20px;
        }
        .videoWrapper{
            max-width: 705px;
            margin-left: auto;
            border-radius: 20px;
            overflow: hidden;
            video{
                object-fit: cover;
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    &__items{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: #1A2133;
            text-align: right;
            direction: rtl;
            margin-bottom: 20px;
        }
        .singleDescItem{
            padding: 25px;
            border: 1px solid #DDDFEC;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            &__header{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                direction: rtl;
                p{
                    font-family: "ye-bold";
                    font-size: 18px;
                    color: black;
                }
            }
            &__items{
                .item{
                    p{
                        font-family: "ye-semibold";
                        font-size: 14px;
                        color: #696969;
                        text-align: right;
                        direction: rtl;
                    }
                }
            }
        }
    }
}
// end single desc styles



// start content part of single page styles
.content{
    background: white;
    margin-top: -20px;
    border-radius: 0px 0px 30px 30px;
    padding: 30px;
    .contentwrapper{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title{
            font-family: "ye-bold";
            font-size: 24px;
            color: #1A2133;
            text-align: right;
            direction: rtl;
        }
        &__item{
            border: 1px solid #DDDFEC;
            border-radius: 20px;
            padding: 20px;
            .title{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                direction: rtl;
                &__right{
                    display: flex;
                    gap: 10px;
                    direction: ltr;
                    align-items: center;
                }
                p{
                    font-family: "ye-regular";
                    font-size: 18px;
                    color: black;
                }
            }
            .items{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                .desc{
                    background: #ECEFFF;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    direction: rtl;
                    padding: 15px;
                    .name{
                        font-family: "ye-regular";
                        font-size: 15px;
                        color: black;
                    }
                    .detail{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        direction: rtl;
                        a{
                            font-family: "ye-semibold";
                            font-size: 12px;
                            color: #242945;
                        }
                        .duration{
                            font-family: "ye-semibold";
                            font-size: 12px;
                            color: #6D7083;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }
    }
}
// end content part of signle page styles




// start comments page styles
.comment{
    background: white;
    margin-top: -20px;
    border-radius: 0px 0px 30px 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .comments{
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #DDDFEC;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .item{
            direction: rtl;
            .reply{
                display: flex;
                gap: 10px;
                align-items: flex-start;
                .replyanswer{
                    text-align: right;
                    font-family: "ye-semibold";
                    color: black;
                    font-size: 18px;
                    margin-top: 15px;
                }
            }
            .message{
                display: flex;
                flex-direction: column;
                gap: 15px;
                .userinfo{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .image{
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        img{
                            object-fit: cover;
                            width: 56px;
                            height: 56px;
                            border-radius: 50%;
                        }
                    }
                    .desc{
                        p{
                            font-family: "ye-semibold";
                            font-size: 16px;
                            color: #969797;
                        }
                    }
                }
                .data{
                    p{
                        font-family: "ye-semibold";
                        font-size: 16px;
                        color: #080B0A;
                    }
                }
            }
        }
    }
}
// end comments page styles




.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;  // Adjust the height as needed
  }
  
  .spinner {
    animation: spin 1s linear infinite;
    width: 40px;  // Adjust the size as needed
    height: 40px;  // Adjust the size as needed
  }
  
  .mpath {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }